<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="splinter" output="screen"/>
    <node pkg="rosservice" type="rosservice" name="spawn" args="call /spawn 3.0 2.0 0.0 turtle2"/>
    <node pkg="hw3" type="controller.py" name="controller" output="screen"/>
</launch>

