<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1"/>
    <node pkg="rosservice" type="rosservice" name="spawn" args="call /spawn 0.0 0.0 0.0 turtle2"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="splinter" output="screen"/>
    <node pkg="hw3" type="turtle_controller.py" name="turtle_controller"/>
</launch>

